h1
{
font-size:40px;
}
div
{
margin-top:5px;
margin-right:450px;
margin-left:400px;
margin-bottom:100px;
padding:20px;
height:400px;
width:500px;
}
h2
{
width:100px;
height:40px;
background-color:blue;
margin-left:445px;
margin-top:80px;
line-height:25px;
color:white;
text-align:center;
font-size:15px;
}

input[type=text], input[type=password] 
{
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button:hover
{
opacity:0.8;
}
button
{
background-color:blue;
color:white;
padding:15px 20px;
margin:2px 0;
border:none;
cursor:pointer;
width:100%;
}
form
{
border:1px solid Black;
padding:4px 20px;
width:100%;
}
