ul
{
   margin:0px;
   padding:0px;
   height:37px;
   line-height:37px;
   background-color:black;
  font-family:'Courier New',Courier,monospace;
  font-size:15px;
 
}

li
{
float:left;
padding 0px 28px;
border-right: 1px Red Solid;
}

a
{
color:white;
display:block;
text-decoration:none;
}

a:hover
{
  background-color:Green;
}


